app/config/config.php
app/cache/**
/vendor/
.vagrant
*.log
.DS_Store
public/info.php
# When using vagrant:
# installing apache and having /var/www/html mounted will create this default index.html file
index.html
